body {
    font-family: Comfortaa, cursive;
}

#bg-image {
    height: auto;
    left: 0;
    margin: 0;
    min-height: 100%;
    min-width: 100%;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}

.content {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 5%;
    background-color: rgba(255, 255, 255, 0.7);
    display: block;
    overflow: auto;
}

.content > p > .highlight {
    font-size: 25px;
    font-weight: bold;
}
.content > h1 {
    padding: 30px;
}

.content > h2 {
    padding: 30px;
    font-size: 30px;
}

.navigation-menu {
    font-family: Comfortaa, cursive;
    font-weight: bold;
    top: 0;
    width: 100%;
    position: absolute;
    left: 0;
    background-color: #00d7af;
}

.active {
    background-color: #16d091;
}

.navigation-menu ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navigation-menu li {
    display: inline;
    float: left;
    border-left: 1px solid aliceblue;
    height: 56px;
}

.navigation-menu li:last-child {
    border-right: none;
}

.navigation-menu li:hover {
    background-color: #00ffa6;
}

.navigation-menu li a {
    display: block;
    color: aliceblue;
    text-align: center;
    vertical-align: center;
    padding: 10px;
}

.content p {
    text-align: justify;
    margin: 10px 30px 10px 30px;
    padding-bottom: 20px;
    font-size: 25px;
}

.math {
    font-size: 21px;
}

.media-align-left {
    margin-right: 20px;
    float: left;
}

.media-align-right {
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    float: right;
}

iframe.media-align-right {
    margin-top: 20px;
}

footer{
    font-family: Comfortaa, cursive;
    font-weight: bold;
    width: 100%;
    position: absolute;
    left: 0;
    background-color: #00d7af;
    color: aliceblue;
}

footer p {
    margin-left: 10px;
    font-size: 15px;
}